
img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }

  body {
    background-size: 100%;
    background-image: url(bk.jpg);
    background-color: black;
    height: 100%;
  }

.wrapper {
    max-width: 760px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border: 6px solid white;
    background-color: white;
    min-height: 1000px;
  }